*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	height: 100%;
	background-color: #292929;
}
#app {
	
}
#employersCards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.employer {
	
	border: 3px solid rgb(46, 79, 222);
	width: 350px;
	margin: 5px;
	padding: 10px;
	display: flex;
}
.employer.active {
background-color: forestgreen;
}
.employer.dismissed {
	background-color: rgb(228, 173, 173);	
	border: solid red;
}
.employer.dismissed table tr:last-child {
	color: rgb(239, 47, 47);
}
.avatar {
	width: 100px;
	height: 100px;
	background-image: url("./images/pngwing.com.png");
}
table {
	
}
td {
	min-width: 100px;;
}